<div class="miniml--limit">
  <div class="miniml-header__left">
    <i class="miniml-logo"></i>
    <div href="#" class="miniml-header__group">
      <b class="miniml-header__title miniml-header__title--gold">
        a-pollo
      </b>
      <span class="miniml-header__desc miniml-header__desc--gold">
        A sharing tool for your team's CSS styles
      </span>
    </div>
  </div>

  <div class="miniml-header__right">
    <a href="#" class="miniml-header__group miniml-header-button">
      <b class="miniml-header__title">
        Documentation
      </b>
      <span class="miniml-header__desc">
        3 pages
      </span>
    </a>

    <a href="#" class="miniml-header__group miniml-header-button">
      <b class="miniml-header__title">
        Snippets
      </b>
      <span class="miniml-header__desc">
        14 pages
      </span>
    </a>

    <a href="#" class="miniml-header__group miniml-header-button">
      <b class="miniml-header__title">
        Project
      </b>
      <span class="miniml-header__desc">
        1 page
      </span>
    </a>

    <a href="#" class="miniml-header__group miniml-header-button">
      <b class="miniml-header__title">
        Notes
      </b>
      <span class="miniml-header__desc">
        3 pages
      </span>
    </a>
  </div>
</div>
