/*@pollo

    @name: column
    @doc: mixin
    @category: Alias
    @version: 4.0.0
    @public: true
    @auth: Vittorio Vittori
    @date:  2015-11-10
    @text:  This is an icons set composet by an SVG sprite, the single icon is `48px` size.
    @param: {array} ($paramOne) [default]
        Inline description
    @param: {boolean} (@paramTwo) [false]
        Inline description
    @param: {unit} (paramThree) [100%]
        Inline description
    @param: {int} (paramFour) [12]
        Inline description
    @param: {number} (paramFive) [12.5]
        Inline description
    @param: {string} (paramSix) [12]
        Inline description
    @returns: css | unit | custom | [nothing]
    @code: Description must be inline
        // SASS or LESS or CSS by current filetype
    @css: Description must be inline
        .selector {
            width: 12px;
            height: 24px;
            background-color: #fccfc;
        }
    @html: Description must be inline
        <div class="selector">
            Hello, this is the code example
        </div>

*/


@mixin column(
    $hdFullStep          : 0,
    $hdReadyStep         : 0,
    $tabletLandscapeStep : 0,
    $tabletPortraitStep  : 0,
    $mobileLandscapeStep : 0,
    $mobilePortraitStep  : 0,
    $totalSteps          : 12
    ) {
    @include setFloatGridColumn($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin columnOffset(
    $hdFullStep          : 0,
    $hdReadyStep         : 0,
    $tabletLandscapeStep : 0,
    $tabletPortraitStep  : 0,
    $mobileLandscapeStep : 0,
    $mobilePortraitStep  : 0,
    $totalSteps          : 12
    ) {
    @include setFloatGridOffset($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin row(
    $hdFullSteps          : 0,
    $hdReadySteps         : $hdFullSteps,
    $tabletLandscapeSteps : $hdReadySteps,
    $tabletPortraitSteps  : $tabletLandscapeSteps,
    $mobileLandscapeSteps : 1,
    $mobilePortraitSteps  : 1
    ) {
    @include setFloatGridContainer($hdFullSteps, $hdReadySteps, $tabletLandscapeSteps, $tabletPortraitSteps, $mobileLandscapeSteps, $mobilePortraitSteps);
}
