
$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-ebb: #ece8e8; /* @a-pollo-color: Ebb */
$color-mountain-mist: #969696; /* @a-pollo-color: Mountain mist */
$color-radical-red: #f62f5f; /* @a-pollo-color: Radical red */
$color-shark: #262626; /* @a-pollo-color: Shark */
$color-westar: #dddad2; /* @a-pollo-color: Westar */
