/*@pollo
    @name:  CSS Button
    @slug:  test-css-button
    @type:  Category name / Sub category
    @text:  This is the description of the element
            With a lot of stuff inside, `selector` and stuff like this!
    @html:  <div class="button">
                <div class="button__child">
                    hello
                </div>
            </div>
*/

.button {
    padding: 6px 12px;
    border: 2px solid grey;
    color: grey;
}

.button__child {
    background-color: #CFCFCF;
}
