/*@pollo
    @name:  SASS Button
    @auth:  Vittorio Vittori
    @slug:  button
    @type:  Buttons
    @text:  This is the description of the element
            With a lot of stuff inside, `selector` and stuff like this!
    @html:  <div class="button">
                <div class="button__child">
                    Button
                </div>
            </div>
*/

/*@pollo
    @name:  SASS Button red
    @auth:  Jimmy Bobo
    @text:  This is the description of the element of the red button
            With a lot of stuff inside, `selector` and stuff like this!
    @html:  <div class="button button--red">
                <div class="button__child">
                    Red button
                </div>
            </div>
*/

.button {
    $color: grey;
    padding: 6px 12px;
    border: 2px solid $color;
    color: $color;
}

.button--red {
    $color: red;
    padding: 6px 12px;
    border: 2px solid $color;
    color: $color;
}

.button__text {
    background-color: #CFCFCF;
}
