@mixin baseLink() {
    > a {
        text-decoration: none;
        @include setFont(200, $colorLink);
        @include transition(background-color $ease);
        &:hover {
            background-color: mix($colorLink, $colorPost, 15%);
        }
    }
}

@mixin fontAwesome() {
    > .fa {
        color: $colorTextBold;
    }
}

@mixin baseCode() {
    margin: s() 0 0 0;
    padding: s();
    color: $colorCodeText;
    font-family: $font-monospace;
    background-color: $colorCodeBackground;
}

@mixin baseSpan() {
    > span {
        @include setFont(200, $colorTextBold);
    }
}

@mixin baseBold() {
    > strong,
    > b {
        @include setFont(500, $colorTextBold);
    }
}

@mixin baseInlineCode() {
    cursor: pointer;
    padding: 2px 4px;
    background-color: mix($colorPost, white, 50%);
}

@mixin baseHr() {
    display: block;
    width: 100%;
    padding: 0;
    margin: s() 0;
    border: none;
    border-top: 1px solid $colorHr;
}

@mixin baseTable() {
    > table {
        width: 100%;
        background-color: $colorTableBg;
        margin-bottom: s();

        th, td {
            padding: s(0.25) s(0.5);
            @include fontAwesome();
            @include setFont(200, $colorTextBold);
        }

        td {
            code {
                background-color: white;
                padding-left: 4px;
                padding-right: 4px;
            }

            strong, b {
                font-weight: 500;
            }
        }

        th {
            @include setFont(500, $colorTextBold);
            text-align: left;
        }

        &:hover {
            tr td,
            tr:nth-child(odd) td {
                background-color: white;
            }
            tr:hover {
                td {
                    background-color: $colorTableOdd;
                }
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: $colorTableOdd;
            }
        }
    }
}
