
// The samp element represents (sample) output from a program
// or computing system.
//
// Url - http://html5doctor.com/element-index/#samp

samp {
    font-family	: $font-monospace;
    font-style	: normal;
    color		: inherit;
}
