<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body class="miniml-body">
    <%- partial('_partial/header') %>
    <main class="miniml--limit miniml-main">
      <section class="apollo__page">
        <%- body %>
        <%- partial('_partial/footer') %>
      </section>
    </main>
  </body>
</html>
