<main class="main {% if metadata.hamburger %} main--hamburger {% else %} main--aside {% endif %}">
  <article class="markdown">
    {% if show_title != false %}
      <h1 class="main__title">
        {{ title }}
      </h1>
    {% endif %}
    {{ contents }}
  </article>
</main>
