<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>{{ title }} - {{ description }}</title>
    </head>
    <body>
        <%- partial('partial/header') %>
        {{{ body }}}
    </body>
</html>
