.apollo-menu {
    margin: s(2) 0 0 0;
    padding: 0;

    @include modifier("first") {
        margin-top: 0;
    }

    @include element("title") {
        margin-bottom: s(0.5);
        color: $colorMenuTitle;
        font-weight: 500;
        font-size: 16px;
    }

    @include element("link") {
        color: $colorMenuButton;
        text-decoration: none;

        @include transition(color 0.125s ease-out);

        &:hover {
            color: $colorMenuButtonSelected;
            // background-color: transparent;
        }
    }
}
