.apollo-widget {

    @include element("title") {
        margin-bottom: 0;
        @include baseBold();
    }

    @include element("category") {
        margin-bottom: s();
        @include baseBold();
    }

    @include element("description") {
        margin-top: s();
        @include baseLink();
        @include baseBold();
        > code {
            @include baseInlineCode();
        }
    }

    @include element("hr") {
        margin-top: s(1.5);
        margin-bottom: s(1.5);
    }
}
