.apollo-code-example {
    position: relative;
    margin-top: s();
    padding: s();

    color: $colorCodeText;
    background-color: $colorCodeBackground;

    overflow-x: auto;

    cursor: pointer;
    @include transition(color background-color, $ease);

    @include element("message") {
        position: absolute;
        right: s();
        top: s();

        padding: s(0.25) s(0.5);

        color: $colorCodeLineNumber;

        @include fallbackColor("background-color", rgba($colorPage,0.8));
        text-transform: lowercase;

        @include user-select("none");

        @include transition(color background-color, $ease);
    }

    &:hover {
        color: $colorCodeTextHover;

        .code * {
            color: $colorCodeTextHover;
        }

        .apollo-code-example__message {
            color: $colorText;
            background-color: white;
        }
        .code .value {
            background-color: saturate(mix($colorCodeLineNumber, $colorCodeBackground, 40%), 6%);
        }

        .gutter {
            color: saturate(mix($colorCodeLineNumber, $colorCodeBackground, 50%), 10%);
        }
    }

    .code * {
        color: $colorCodeText;
        font-weight: 400;
        @include transition(color $ease);
    }

    .code .value {
        @include transition(background-color color, $ease);
        background-color: transparent;
    }

    pre {
        margin:0;
    }

    .html {
        margin: 5px 0;
    }

    .gutter {
        @include user-select("none");
        padding-right: s(0.5);
        color: $colorCodeLineNumber;
        @include transition(color $ease);

        pre {
            margin:0;
        }
    }
}
