.apollo-html-example {
    overflow: auto;

    margin-top: s();
    background-color: white;

    margin-left: s(-3);
    margin-right: s(-3);
    padding: s() s(3);

    @include element("inner") {
        float: left;
        position: relative;
        display: inline-block;
        padding: 2px;
        border: 1px dashed transparent;
        @include transition(border-color $ease);

        &:hover .apollo-html-example__bg {
            opacity: 1 !important;
        }
    }

    @include element("container") {
        position: relative;
        z-index: 1;
        > * {
            float: left;
        }
    }

    @include element("bg") {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        @include transition(opacity $ease);
        @include backgroundImage("transparent-background-light.svg");
        background-size: 64px 64px;
        background-position: 50% 50%;
    }

    &:hover .apollo-html-example__inner {
        border-color: mix($font-color, $colorPage, 25%);
    }
    &:hover .apollo-html-example__bg {
        opacity: 0.55;
        &.apollo-html-example__bg--active {
            opacity: 1;
        }
    }
}
