@mixin baseLink() {
    > a {
        color: $colorGold;
        text-decoration: none;
        @include transition(background-color $ease);
        &:hover {
            //text-decoration:underline;
            background-color: mix($colorLink, $colorPage, 15%);
        }
    }
}

@mixin baseBold() {
    > strong,
    > b {
        font-weight: 500;
        color: $colorTextBold;
    }
}

@mixin baseInlineCode() {
    cursor: pointer;
    padding: 2px 4px;
    background-color: mix($colorPage, white, 50%);
}

@mixin baseHr() {
    display: block;
    width: 100%;
    padding: 0;
    margin: s() 0;
    border: none;
    border-top: 1px solid $colorHr;
}

.apollo-page {
    display: block;
    background-color: $colorPage;

    @include modifier("padded") {
        padding: s(3);
    }

    @include baseLink();
    @include baseBold();

    > table {
        width: 100%;
        background-color: white;

        th {
            text-align: left;
            font-weight: 500;
            color: $colorTextBold;
        }

        th, td {
            padding: s(0.25) s(0.5);
        }

        tr:nth-child(odd) {
            td {
                background-color: $colorTableOdd;
            }
        }
    }

    > p {
        @include baseLink();
        @include baseBold();
        > code {
            @include baseInlineCode();
        }
    }

    > strong + code {
        margin-left: s(0.125);
    }

    > hr {
        @include baseHr();
    }

    > ol,
    > ul {
        padding : 0;
        margin : 0;
        > br {
            display: none;
        }
        li {
            padding: 0;
            margin: 0 0 0 s();
        }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin: 0 0 s(0.5) 0;

        color: $colorTextBold;
        font-family: $font-heading;
        font-weight: 500;
        line-height: 1;
    }

    > h1 { font-size : $h1; }
    > h2 { font-size : $h2; }
    > h3 { font-size : $h3; }
    > h4 { font-size : $h4; }
    > h5 { font-size : $h5; }
    > h6 { font-size : $h6; }

}
