.apollo-project-header {

    @include element("hr") {
        @include baseHr();
        margin-top: s(1.5);
        margin-bottom: s(1.5);
    }

    @include element("logo") {
        width: 33.3333%;
        margin-bottom: s(0.5);
    }

    @include element("image") {
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 50%;
    }
}
