.code-example {
    position: relative;
    margin-top: s();
    padding: s();

    color: $colorCodeText;
    background-color: $colorCodeBackground;

    cursor: pointer;
    @include transition(color background-color, $ease);

    .code * {
        @include transition(color, $ease);
    }

    @include element("message") {
        position: absolute;
        right: s();
        top: s();

        padding: s(0.25) s(0.5);

        color: $colorCodeLineNumber;

        background-color: $colorPage;
        text-transform: lowercase;

        @include user-select("none");

        @include transition(color background-color, $ease);
    }

    &:hover {
        color: $colorCodeTextHover;

        .code * {
            color: $colorCodeTextHover;
        }

        .code-example__message {
            color: $colorText;
            background-color: white;
        }

        .gutter {
            color: saturate(mix($colorCodeLineNumber, $colorCodeBackground, 50%), 10%);
        }
    }

    .code * {
        color: $colorCodeText;
    }

    .gutter {
        @include user-select("none");
        padding-right: s(0.5);
        color: $colorCodeLineNumber;
        @include transition(color $ease);
    }
}
