.markdown {

    a {
        &:hover {
            background-color: mix($colorLink, $colorPage, 15%);
        }
    }

    > table {
        width: 100%;
        background-color: white;

        th {
            text-align: left;
            font-weight: 500;
            color: $colorTextBold;
        }

        th, td {
            padding: s(0.25) s(0.5);
        }

        tr:nth-child(odd) {
            td {
                background-color: $colorTableOdd;
            }
        }
    }
}
