.social-menu {

    padding-bottom: $spacing;
    border-bottom: 1px solid grey;

    @include element("left-side") {
        padding-right: s(0.5);
        margin-right: s(0.5);
        border-right: 2px solid grey;
    }

    @include element("right-side") {
        background-color: grey;
        @include modifier("pink") {
            background-color: pink;
        }
    }
}
