<main class="apollo-website-spacer">

    <section class="apollo-website-headline">
        <div class="apollo-website-headline__logo"></div>
        <h1 class="apollo-website-headline__title">
            a-pollo
        </h1>
        <h4 class="apollo-website-headline__sub-title">
            A sharing tool for your team's CSS styles
        </h4>
    </section>

    <section id="from-code-to-docs" class="apollo-website-mincer">
        <div class="apollo-website-logo">
            <div id="logo-less" class="apollo-website-logo__less"></div>
            <div id="logo-sass" class="apollo-website-logo__sass"></div>
            <div id="logo-css3" class="apollo-website-logo__css3"></div>
        </div>
        <div id="mincer-upper" class="apollo-website-mincer__container-upper">
            <div class="apollo-website-mincer__upper"></div>
        </div>
        <div id="mincer-lower" class="apollo-website-mincer__container-lower">
            <div class="apollo-website-mincer__lower"></div>
        </div>
        <div class="apollo-website-styleguide">
            <div class="apollo-website-styleguide__container">
                <div id="page-styleguide-1" class="apollo-website-styleguide__page"></div>
            </div>
            <div class="apollo-website-styleguide__container">
                <div id="page-styleguide-2" class="apollo-website-styleguide__page"></div>
            </div>
            <div class="apollo-website-styleguide__container">
                <div id="page-styleguide-3" class="apollo-website-styleguide__page"></div>
            </div>
        </div>
    </section>


    <section class="apollo-website-home">
        <div class="apollo-row--3-columns">
            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-book apollo-website-home__title-icon"></i>
                    CSS style guide
                </h4>
                <p class="apollo-website-home__p">
                    A-pollo generates a default documentation of the CSS best practices taken from the best front-end developers with their relative sources and shows your CSS theme default base styles, everything is ready to be used as is or to be customized.
                </p>
            </div>
            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-sitemap apollo-website-home__title-icon"></i>
                    Organized snippets
                </h4>
                <p class="apollo-website-home__p">
                    With <b>a-pollo doc tags</b>, you can manage your front-end styles and split them into groups of widgets to easily find the style you need to create new HTML templates with a wide view of what you already have in your CSS.
                </p>
            </div>
            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-paste apollo-website-home__title-icon"></i>
                    Copy and paste the code you need
                </h4>
                <p class="apollo-website-home__p">
                    If you need a static documentation generated from your code with all the CSS widgets you have in your theme with <b>HTML code blocks</b> ready to be copied, <b>a-pollo</b> is probably the tool for you.
                </p>
            </div>

            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-group apollo-website-home__title-icon"></i>
                    Nice for teams
                </h4>
                <p class="apollo-website-home__p">
                    It's perfect to leave your CSS hard work to the rest of your team and let them view what's inside and reduce one page styles, through to be reused but forgotten in the code.
                </p>
            </div>
            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-bar-chart apollo-website-home__title-icon"></i>
                    CSS stats
                </h4>
                <p class="apollo-website-home__p">
                    Checkout front-end development duration, how much material is inside your theme, the people who worked on the project, and other useful stats you can use to check your team performance.
                </p>
            </div>
            <div>
                <h4 class="apollo-website-home__title">
                    <i class="fa fa-paint-brush apollo-website-home__title-icon"></i>
                    Customizable theme
                </h4>
                <p class="apollo-website-home__p">
                    There is <a href="https://hexo.io/docs/themes.html">Hexo</a> behind a-pollo, a fast, simple & powerful blog framework, perfect to create  static websites and their relative themes.
                </p>
            </div>
        </div>
    </section>
</main>
