/*@pollo
    @name:  Icon
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is an icons set composet by an SVG sprite, the single icon is `48px` size.
    @html:  <i class="icon icon--head"></i>
*/

/*@pollo
    @name:  ID Card
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is an ID card card with the modifier `icon--id-card`
    @html:  <i class="icon icon--id-card"></i>
*/

/*@pollo
    @name:  Download
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a download icon with the modifier `icon--download`
    @html:  <i class="icon icon--download"></i>
*/

/*@pollo
    @name:  Document
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a document icon with the modifier `icon--document`
    @html:  <i class="icon icon--document"></i>
*/

/*@pollo
    @name:  Ok
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is an ok icon with the modifier `icon--ok`
    @html:  <i class="icon icon--ok"></i>
*/

/*@pollo
    @name:  Flag
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a flag icon with the modifier `icon--flag`
    @html:  <i class="icon icon--flag"></i>
*/

/*@pollo
    @name:  Note
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a note icon with the modifier `icon--note`
    @html:  <i class="icon icon--note"></i>
*/

/*@pollo
    @name:  Stats
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a stats icon with the modifier `icon--stats`
    @html:  <i class="icon icon--stats"></i>
*/

/*@pollo
    @name:  User
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a user icon with the modifier `icon--user`
    @html:  <i class="icon icon--user"></i>
*/

/*@pollo
    @name:  Credit card
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a credit card icon with the modifier `icon--card`
    @html:  <i class="icon icon--card"></i>
*/

/*@pollo
    @name:  Lockpick
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a lockpick icon with the modifier `icon--lockpick`
    @html:  <i class="icon icon--lockpick"></i>
*/

/*@pollo
    @name:  Mobile phone
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a mobile phone icon with the modifier `icon--mobile`
    @html:  <i class="icon icon--mobile"></i>
*/

/*@pollo
    @name:  Pencil
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a pencil icon with the modifier `icon--pencil`
    @html:  <i class="icon icon--pencil"></i>
*/

/*@pollo
    @name:  Eye
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is an eye icon with the modifier `icon--eye`
    @html:  <i class="icon icon--eye"></i>
*/

/*@pollo
    @name:  Gear
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a gear icon, useful for options menu with the modifier `icon--gear`
    @html:  <i class="icon icon--gear"></i>
*/

/*@pollo
    @name:  Recycle bin
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2015-11-10
    @text:  This is a recycle bin icon, useful for options menu with the modifier `icon--bin`
    @html:  <i class="icon icon--bin"></i>
*/


.icon {
    display: inline-block;
    $size: 48px;
    @include sprite("icons-sprite.svg", $size, $size, 4 4);

    @include setSprite("head",     1 1, $size);
    @include setSprite("id-card",     2 1, $size);
    @include setSprite("download", 3 1, $size);
    @include setSprite("document", 4 1, $size);
    @include setSprite("ok",       1 2, $size);
    @include setSprite("flag",     2 2, $size);
    @include setSprite("note",     3 2, $size);
    @include setSprite("stats",    4 2, $size);
    @include setSprite("user",     1 3, $size);
    @include setSprite("card",     2 3, $size);
    @include setSprite("lockpick", 3 3, $size);
    @include setSprite("mobile",   4 3, $size);
    @include setSprite("pencil",   1 4, $size);
    @include setSprite("eye",      2 4, $size);
    @include setSprite("gear",     3 4, $size);
    @include setSprite("bin",      4 4, $size);

}
