.miniml-a-pollo-release {

  @include row;
  background-color: $color-background-dark;
  padding: s(3) s(1);

  @include element('logo') {
    $icon-size: 72px;
    @include icon('a-pollo-logo--gold.svg', $icon-size);
    display: block;
    float: left;
  }

  @include element('info') {
    display: block;
    float: left;
    padding: s(0.5) s(1);
  }

  @include element('title') {
    color: $color-text-lightest;
    display: block;
    font-weight: $font-weight-bold;
  }

  @include element('desc') {
    color: $color-text-shaded;
    display: block;
  }

  @include element('details') {
    display: block;
    margin: 0;
    padding: 0;
  }

  @include element('details-item') {

    display: inline-block;
    margin-top: s(0.5);

    & + & {
      margin-left: s(1);
    }
  }

  @include element('details-icon') {
    color: $color-text-lightest;
    font-size: $font-size-normal;
    line-height: $font-size-normal;
    margin-right: s(0.125);
  }

  @include element('text') {
    border-radius: $radius;
    color: $color-text-shaded;
    font-size: $font-size-small;
    line-height: $font-size-normal;
    padding: 1px 2px;
    text-decoration: none;
    transition: color $ease-hover;

    &:hover {
      color: $color-text-lightest;
    }

    @include modifier('marked') {
      background-color: $color-background-shaded;
    }
  }
}
