.miniml {

  @include modifier('padding-top') {
    padding-top: s(2);
  }

  @include element('title') {
    font-family: $font-serif;
    font-size: $font-size-title;

    @include modifier('m-top') {
      margin-top: s(2);
    }
  }

  @include element('hr') {
    border: 0;
    border-top: 1px solid $color-hr;
    margin-top: s(0.5);
  }

  @include element('row') {
    @include row();
    margin-left: s(-1);
    margin-right: s(-1);
    width: auto;
  }

  @include element('col-half') {
    @include column(6,6,6);
    padding: s(1);
    @include modifier('p-top-none') {
      padding-top: 0;
    }
  }

  @include element('paragraph-title') {
    display: block;
    font-weight: $font-weight-bold;
    margin-top: s(1);

    @include modifier('m-top-none') {
      margin-top: 0;
    }
  }

  @include element('question') {
    color: $color-text-shaded;
    cursor: help;
  }

  @include element('icon') {
    display: inline-block;
    float: left;
    font-size: $font-size-big;
    margin-right: s(0.25);
  }

  @include element('paragraph') {
    color: $color-text-light;
    display: block;
    margin-top: s(0.25);
  }
}
