.miniml-markdown {
  > p {
    a {
      $margin: 3px;

      border-radius: $radius;
      color: $color-text-light;
      margin-left: -($margin);
      margin-right: -($margin);
      padding-left: $margin;
      padding-right: $margin;
      text-decoration: none;

      transition: color $ease-hover;

      &:hover {
        color: $color-text;
      }
    }
  }

  @include modifier('inline') {
    > p {
      display: inline;
      a {
        display: inline;
      }
    }
  }
}
