.miniml-map {
  margin-top: s(1);

  @include element('label') {
    @include asTable(false, middle, auto);

    color: $color-text-light;
    cursor: pointer;
    font-size: $font-size-small;
    transition: color $ease-hover;

    &:hover {
      color: $color-text;
    }

    @include modifier('category') {
      &:hover {
        & + .miniml-map__dots .miniml-map-dot {
          border: 1px solid $border-default;
        }
        & + .miniml-map__dots .miniml-map-dot--category {
          border: 2px solid $color-border-dark;
        }
      }
    }
  }

  @include element('dots') {
    margin-top: s(1);
  }
}
