<aside class="aside">
  <div class="aside__contents">
    <div class="aside__header">
      <div class="aside__logo"></div>
    </div>
    <ul class="aside-menu">
      <li class="aside-menu__title">
        Menu title
      </li>
      <li class="aside-menu__item">
        <a class="aside-menu__link" href="#">
          Hello this is a very long menu item
        </a>
      </li>
    </ul>
  </div>
</aside>
