<aside class="aside">
  <div class="aside__contents">
    <div class="aside__header">
      <div class="aside__logo"></div>
      <div class="aside__headline">
        <strong class="aside__title">a-pollo</strong>
        <div class="aside__sub-title">
          The CSS style guide
        </div>
      </div>
    </div>
    {{collections.docs}}
    {% include 'aside-menu.twig' with { title: 'Documentation', items: metadata.collections.doc } %}
    {% include 'aside-menu.twig' with { title: 'Posts', items: metadata.collections.posts } %}
    {% include 'aside-menu.twig' with { title: 'Snippet', items: metadata.collections.snippet } %}
  </div>
</aside>
