<main class="main main--short">
  <article class="markdown">
    {% if show_title != false %}
      <h1 class="main__title">
        {{ title }}
      </h1>
    {% endif %}
    {{ contents }}
  </article>
</main>
