.apollo-menu {
    margin: s(2) 0 0 0;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }

    @include element("title") {
        margin-bottom: s(0.5);
        @include setFont(500, $colorMenuTitle, 16px);

        &:first-letter {
            text-transform: uppercase;
        }
    }

    @include element("link") {
        text-decoration: none;
        @include setFont(200, $colorMenuButton);

        @include transition(color 0.125s ease-out);

        &:hover {
            color: $colorMenuButtonHover;
            .apollo-menu__docs {
                color: $colorMenuButtonHover;
                border-color: $colorMenuButtonHover;
            }
        }

        @include modifier("current") {
            cursor: default;
            color: $colorMenuButtonSelected;
            &:hover {
                color: $colorMenuButtonSelected;
                .apollo-menu__docs {
                    color: $colorMenuButtonSelected;
                    border-color: $colorMenuButtonSelected;
                }
            }
        }
    }

    @include element("docs") {
        position: relative;
        top: -4px;
        display: inline-block;
        min-width: 14px;
        height: 14px;
        padding: 0 4px;
        margin-left: 2px;
        @include border-radius(100px);
        background-color: transparent;
        color: $colorMenuButtonSelected;
        font-size: 8px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        border: 1px solid $colorMenuButtonSelected;
        @include transition(border-color color background-color, 0.125s ease-out);
    }
}
