.apollo-menu-mobile-nav {
    position: fixed;
    z-index: 3;
    left: -100%;

    overflow: auto;

    @include size(75%, 100vh);
    padding: s();

    background-color: white;

    @media #{$from-tablet-landscape} {
        display: none;
    }

    @include transition(left box-shadow, 0.5s ease("in-out-cubic"));

    @include modifier("open") {
        left: 0;
        @include transition(left box-shadow, 1s ease("out-expo"));
        @include box-shadow("1px 0 0px rgba(0,0,0,0.05), 0 0 10px rgba(0,0,0,0.2)");
    }
}
