<div class="snippet-item">
  <h2 class="snippet-item__title">
    {{ annotation.name }}
  </h2>
  {{ annotation.text }}

  {% include '../date.twig' with { data: annotation.data } %}


  {% include 'render.twig' %}
  {% if annotation.html.snippet %}
    {% include 'code.twig' with { snippet: annotation.html.snippet, lang:'html' } %}
  {% endif %}
</div>
