<hr class="hr">
<div class="snippet-item">
  <h2 class="snippet-item__title">
    {{ annotation.name }}
  </h2>
  {{ annotation.text }}

  {% if annotation.author %}
    {% include 'info-item.twig' with { title: 'Author', value: annotation.author, default: 'Unknown' } %}
  {% endif %}
  {% include 'info-item-date.twig' with { date: annotation.date } %}


  {% include 'render.twig' %}
  {% if annotation.html.snippet %}
    {% include 'code.twig' with { snippet: annotation.html.snippet, lang:'html' } %}
  {% endif %}
</div>
