<hr class="hr">
<div class="snippet-item">
  <h2 class="snippet-item__title">
    {{ annotation.name }}
  </h2>

  <div class="markdown">
    {{ annotation.text }}
  </div>

  {% if annotation.author is defined %}
    {% include '../main/info.twig' with { title: 'Author', value: annotation.author, default: 'Unknown' } %}
  {% endif %}
  {% include '../main/info-date.twig' with { date: annotation.date, selector: 'info--bottom' } %}
  {% include 'render.twig' %}
  {% if annotation.html is defined %}
    {% include '../main/code.twig' with { code: annotation.html, lang:'html' } %}
  {% endif %}
</div>
