<div class="render">
  <div class="render__wrapper">
    <iframe class="render__area" scrolling="no" onload="resizeIframe(this)" srcdoc="
    <html>
    <head>
      <style media='all'>{{ global.css|escape }}</style>
      <script>
        function disableAnchors () {
          var anchors = document.getElementsByTagName('a');
          for(i=0, len=anchors.length; i<len; i++){
            anchors[i].addEventListener('click', function(e){e.preventDefault();});
          }
        }
        document.addEventListener('DOMContentLoaded', disableAnchors);
      </script>
    </head>
    <body style='padding:20px; line-height:0;'>
      {{ annotation.html.code|escape }}
    </body>
    </html>" width="100%" height="auto">
      It seems that your browser doesn't support <b>srcdoc</b> attribute for the <b>iframe</b> element.
    </iframe>
  </div>
</div>

<div class="render-options">
  <ul class="options options--viewport">
    <li class="options__title">
      Viewport
    </li>
    <li class="options__item">
      <a class="options__action" data-viewport="desktop" href="#">Desktop</a>
    </li>
    <li class="options__item">
      <a class="options__action" data-viewport="tablet" href="#">Tablet</a>
    </li>
    <li class="options__item">
      <a class="options__action" data-viewport="mobile" href="#">Mobile</a>
    </li>
  </ul>
  <ul class="options options--background">
    <li class="options__title">
      Background
    </li>
    <li class="options__item">
      <a class="options__action" data-background="light" href="#">Light</a>
    </li>
    <li class="options__item">
      <a class="options__action" data-background="dark" href="#">Dark</a>
    </li>
    <li class="options__item">
      <a class="options__action" data-background="transparency" href="#">Transparency</a>
    </li>
  </ul>
  <ul class="options">
    <li class="options__title">
      Code
    </li>
    <li class="options__item">
      <a class="options__action clipboard" href="#" data-copied="Copied" data-clipboard-text="{{ annotation.html.copy|escape }}">Copy to clipboard</a>
    </li>
  </ul>
</div>
