<div class="apollo-project-header">
    <div class="apollo-project-header__logo">
        <%
            var root = config.root || '/';
            var url = config.url || root;
        %>
        <% if (header.link) { %>
            <% url = header.link; %>
        <% } %>
        <a class="apollo-project-header__button" href="<%= url %>">
            <div class="apollo-project-header__image" style="background-image: url(<%= root %>css/theme/assets/<%= header.logo %>);"></div>
        </a>
    </div>
    <% if (header.description) { %>
        <p class="apollo-project-header__paragraph">
            <%= header.description %>
        </p>
    <% } %>
    <hr class="apollo-project-header__hr">
</div>
