<article class="apollo-post apollo-post--padded">
  <% if (post.annotations) {
    _.each(post.annotations, function(annotation, i) {
      if (i === 0) { %>
        <%- partial('_partial/snippet-header', { annotation: annotation, id:i }) %>
      <% } else { %>
        <%- partial('_partial/snippet-item', { annotation: annotation, id:i }) %>
      <% }
    }); %>
    <br>
    <p>
      <strong>Total examples</strong> <%= post.annotations.length %>
    </p>
  <% } else { %>
    No <code>annotations</code> found on post data.
  <% } %>
</article>
