/*@pollo

    @name: column
    @doc: mixin, function, custom as mixin, custom as function, [false]
    @category: Alias
    @version: 1.X.X | [false]
    @auth: Vittorio Vittori
    @date:  2015-11-10
    @text:  This is an icons set composet by an SVG sprite, the single icon is `48px` size.
    @public: true | [false]
    @param: {array} $paramName [default]
        description
    @param: {boolean} base.default [default]
        description
    @param: {unit} base.default [default]
        description
    @param: {int} base.default [default]
        description
    @param: {number} base.default [default]
        description
    @param: {string} base.default [default]
        description
    @return: css | unit | custom | [nothing]
    @code: Description must be inline
        // SASS or LESS or CSS by current filetype
    @css: Description must be inline
        .selector {
            width: 12px;
            height: 24px;
            background-color: #fccfc;
        }
    @html: Description must be inline
        <div class="selector">
            Hello, this is the code example
        </div>

*/


@mixin column(
    $hdFullStep          : 0,
    $hdReadyStep         : 0,
    $tabletLandscapeStep : 0,
    $tabletPortraitStep  : 0,
    $mobileLandscapeStep : 0,
    $mobilePortraitStep  : 0,
    $totalSteps          : 12
    ) {
    @include setFloatGridColumn($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin columnOffset(
    $hdFullStep          : 0,
    $hdReadyStep         : 0,
    $tabletLandscapeStep : 0,
    $tabletPortraitStep  : 0,
    $mobileLandscapeStep : 0,
    $mobilePortraitStep  : 0,
    $totalSteps          : 12
    ) {
    @include setFloatGridOffset($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin row(
    $hdFullSteps          : 0,
    $hdReadySteps         : $hdFullSteps,
    $tabletLandscapeSteps : $hdReadySteps,
    $tabletPortraitSteps  : $tabletLandscapeSteps,
    $mobileLandscapeSteps : 1,
    $mobilePortraitSteps  : 1
    ) {
    @include setFloatGridContainer($hdFullSteps, $hdReadySteps, $tabletLandscapeSteps, $tabletPortraitSteps, $mobileLandscapeSteps, $mobilePortraitSteps);
}
