<div class="snippet-item">
  <h2 class="snippet-item__title snippet-item__title--small">
    {{ annotation.name }}
    {% if annotation.category %}
      <div class="snippet-item__category">
        {% if annotation.icon %}
          <span class="snippet-item__icon">
            <i class="{{ annotation.icon }}"></i>
          </span>
        {% endif %}
        {{ annotation.category }}
      </div>
    {% endif %}
  </h2>
  {% include 'render.twig' %}
</div>
