<div class="render render--force-desktop">
  <div class="render__wrapper">
    <iframe class="render__area" scrolling="no" onload="resizeIframe(this, 40)" srcdoc="
    <html>
    <head>
      <style media='all'>{% include '../main/css.twig' %}</style>
      <script>
        function disableAnchors () {
          var anchors = document.getElementsByTagName('a');
          for(i=0, len=anchors.length; i<len; i++){
            anchors[i].addEventListener('click', function(e){e.preventDefault();});
          }
        }
        document.addEventListener('DOMContentLoaded', disableAnchors);
      </script>
    </head>
    <body style='padding:20px; line-height:0;'>
      {{ annotation.html.code|escape }}
    </body>
    </html>" width="100%" height="auto">
      It seems that your browser doesn't support <b>srcdoc</b> attribute for the <b>iframe</b> element.
    </iframe>
  </div>
</div>
