
// font sizes for h# elements
$h1: 32px;
$h2: 28px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

// Font sizes
$font-size:       12px;
$font-small-size: 12px;

// Fonts families global vars
$font-sans: 'karla', 'helvetica neue', helvetica, arial, sans-serif;
$font-serif: 'bitter', 'times new roman', times, serif;
$font-monospace: menlo, monaco, 'courier new', monospace;
$font-small: 'lucida grande', tahoma, verdana, arial, sans-serif;

// Default fonts used inside the core
$font-default: $font-sans;
$font-heading: $font-serif;

// used with s(); mixin, if $spacing is 20px s(0.5); returns 10px
$spacing: 20px;

$font-line-height: 1.25;
$font-weight: 300;
$font-color: #4e4d48;
$body-color: #fff;
$fallback-color-base: $body-color;

// Global padding configuration
$horizontal-padding: s();
$vertical-padding: s();
$global-padding: $vertical-padding $horizontal-padding;

// State selectors configuration
$state-important: true;
$state-faded-opacity: 0.5;
$state-disabled-opacity: 0.5;
$state-table-padding: s(0.5);

// set different width for the mobile, tablets and hd resolutions
$mobile-portrait-step: 320px;  // mobile portrait  320~380
$mobile-landscape-step: 480px;  // mobile landscape 480~568~685
$tablet-portrait-step: 768px;  // tablet portrait       768
$tablet-landscape-step: 1024px; // tablet landscape      1024
$hd-ready-step: 1280px; // HD Ready              1280 (720p)
$hd-full-step: 1800px; // Full HD               1920 (1080p)

// Granular setting for which Media Query rules are enabled
$use-mobile-portrait: true;
$use-mobile-landscape: true;
$use-tablet-portrait: true;
$use-tablet-landscape: true;
$use-hd-ready: true;
$use-hd-full: true;
$use-viewport-states: true;
$use-print-viewport: false;

$use-state-margin: false;
$use-state-padding: false;
$use-state-positioning: false;
$use-state-sizing: false;
$use-state-selectors: false;
$use-state-table: false;
$use-state-text: false;
$use-state-visibility: false;
$use-state-print: false;

$use-core-base: true; // set CSSlint box-model test to true if you disable this
$use-css-prefix: true;
$use-ie-filters: false;
$use-font-fallback: true;
$use-fallbacks: true;

$use-root-path: true;

$path-img: '/img/';
$path-font: '/fonts/';
