@mixin setFont($weight:200, $color:$font-color, $size:$font-size, $lineHeight:$font-line-height) {
    color: $color;
    font-family: $font-default;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}
