$color-body-background: $color-white;
$color-body-text: $color-shark;
$color-titles: $color-teak;
$color-hover: $color-teak;
$color-snippet-hr: $color-teak;

$color-table-cell: $color-pampas;

$color-icon-text: $color-white;
$color-icon-background: $color-shark;

$border: 2px solid;
$border-code: 2px solid;
$color-border: $color-shark;

$ease-aside: 0.5s ease(in-out-quint);
$ease-render-delay: 0.5s;
$ease-render-mask: 0.25s;
$ease-render: 0.5s ease(in-out-quint);
$ease-selected: 0.5s ease(in-out-quint);

$font-sans: 'Merriweather', sans-serif;
$font-serif: 'Montserrat', serif;
$font-mono: 'RobotoMono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, serif;

$font-heading: $font-serif;

$aside-top-padding: s(6);
$main-top-padding: s(4);
$aside-width: 20%;
$main-width: 70%;
