$color-body-background: $color-white;
$color-body-text: $color-shark;
$color-titles: $color-teak;
$color-hover: $color-teak;

$border: 2px solid;
$color-border: $color-shark;

$ease-aside: 0.25s ease(in-out-expo);

$font-sans: 'Merriweather', sans-serif;
$font-serif: 'Montserrat', serif;
$font-mono: 'RobotoMono', serif;

$font-heading: $font-serif;

$initial-top-padding: s(3);
$aside-width: 20%;
$main-width: 70%;
