$color-body-background: $color-white;
$color-body-text: $color-shark;

$color-markdown-blockquote: $color-pampas;
$color-markdown-border-table: $color-pampas;
$color-markdown-hr: $color-pampas;
$color-table-cell: $color-pampas;

$color-icon-text: $color-white;
$color-icon-background: $color-shark;

$border: 2px solid;
$border-code: 2px solid;
$color-border: $color-shark;
$color-border-bright: $color-white;
$color-code-selection-text: $color-pampas;
$color-code-selection-background: $color-shark;

$color-render-dark: $color-shark;
$color-render-light: $color-white;
$ease-aside: 0.5s ease(in-out-quint);
$ease-hover: 0.325s ease(out-quint);

$hamburger-ease: 0.5s ease(in-out-quint);
$hamburger-border: rgba(0, 0, 0, 0.05);
$hamburger-menu-color: $color-white;
$hamburger-menu-background: $color-shark;

$ease-render-delay: 0.5s;
$ease-render-mask: 0.25s;
$ease-render: 0.5s ease(in-out-quint);
$ease-selected: 0.5s ease(in-out-quint);

$font-sans: $font-family-sans;
$font-serif: 'Montserrat', serif;
$font-mono: 'RobotoMono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, serif;
$font-weight-bold: 700;

$font-heading: $font-serif;

$aside-top-padding: em(s(6));
$main-top-padding: em(s(4));
$aside-width: 20%;
