.miniml-header-button {

  @include column(3, 3, 3);

  background-color: $color-page;
  display: block;
  height: $height-header;
  padding: s();

  &:hover,
  &:focus {
    background-color: $color-text;
    color: $color-page;
  }
}
