.miniml-header {
  background-color: $color-background-page;
  height: $height-header;
  position: relative;
  transition: visibility 0s, top 0.75s ease('out-expo');
  user-select: none;
  width: 100%;

  &::after {
    background-color: $color-border-transparent;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: $height-header;
    width: 100%;
  }

  @include modifier('fixed') {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  @include modifier('outside') {
    top: -($height-header) - 1px;
  }

  @include modifier('hidden') {
    visibility: hidden;
  }

  @include element('group') {
    color: $color-text;
    display: block;
    float: left;
    padding: 0 s(1);
    text-decoration: none;
  }

  @include element('title') {

    @include modifier('gold') {
      color: $color-gold;
    }

    display: block;
    font-weight: $font-weight-bold;
    margin-top: 14px;

  }
  @include element('desc') {

    @include modifier('gold') {
      color: $color-gold-light;
    }

    color: $color-text-light;
    display: block;
    font-size: $font-size-small;
  }

  @include element('left') {
    @include column(4, 4, 4);
  }

  @include element('right') {
    @include column(8, 8, 8);
  }
}
