@include font('Raleway-Black') {
  font-family: 'raleway';
  font-weight: 900;
}

/*
  @a-pollo-typography
  @name: Raleway
  @selector: .title
  @text: Use it for big titles blocks, it's nice on web browser and digial devices with low or high density displays, also for typographic uses on physical objects.
*/

@include block ('title') {
  font-family: raleway, helvetica, arial, sans-serif;
}
