<div class="apollo-project-header">
    <div class="apollo-project-header__logo">
        <% if (header.link) { %> <a class="apollo-project-header__button" href="<%= header.link %>"> <% } %>
            <div class="apollo-project-header__image" style="background-image: url(/css/theme/assets/<%= header.logo %>);"></div>
        <% if (header.link) { %> </a> <% } %>
    </div>
    <% if (header.description) { %>
        <p>
            <%= header.description %>
        </p>
    <% } %>
    <hr class="apollo-project-header__hr">
</div>
