<footer class="footer">
    <div>
        <a href="#" class="apollo-logo">
            <div class="apollo-logo__icon"></div>
            <div class="apollo-logo__text">apollo</div>
        </a>
    </div>
    <div class="footer__left-column">
        <p>
            The visual CSS style guide for teams
        </p>
    </div>
    <div class="footer__right-column">
        <p>
            <a href="http://github.com/vitto/apollo" class="footer__link"><i class="fa fa-code"></i></a> with <i class="fa fa-heart"></i> by <a href="#" class="footer__link">vitto</a> @ <a href="#" class="footer__link">ideato</a>
        </p>
    </div>
</footer>
