<footer class="apollo-footer">
    <div>
        <% if (config.footer && config.footer.logo) { %>
            <%- config.footer.logo %>
        <% } else { %>
            <a href="http://github.com/vitto/apollo" class="apollo-logo">
                <div class="apollo-logo__icon"></div>
                <div class="apollo-logo__text">apollo</div>
            </a>
        <% } %>
    </div>
    <div class="apollo-footer__left-column">
        <p>
            <% if (config.footer && config.footer.leftText) { %>
                <%- config.footer.leftText %>
            <% } else { %>
                The visual CSS style guide for teams
            <% } %>
        </p>
    </div>
    <div class="apollo-footer__right-column">
        <p>
            <% if (config.footer && config.footer.rightText) { %>
                <%- config.footer.rightText %>
            <% } else { %>
                <a href="http://github.com/vitto/apollo" class="apollo-footer__link"><i class="fa fa-code"></i></a> with <i class="fa fa-heart apollo-footer__heart"></i> by <a href="#" class="apollo-footer__link">vitto</a> @ <a href="#" class="apollo-footer__link">ideato</a>
            <% } %>
        </p>
    </div>
</footer>
