<nav>
    <ul class="menu">
        <li class="menu__title">
            Conventions
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                CSS
            </a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                HTML
            </a>
        </li>
    </ul>
</nav>
