
// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==               THEME               ===================================================================================================================================
// ==            CUSTOM VARS            ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================


$colorGold: rgb(184, 151, 102);
$colorGreyDark: rgb(85, 85, 85);
$colorGreyDeep: rgb(128, 128, 128);
$colorGrey: rgb(217, 217, 217);
$colorGreyLight: rgb(236, 232, 232);


/* widgets */

$colorTextBold: $colorGreyDark;
$colorPage: $colorGreyLight;
$colorLogoText: $colorGreyLight;
$colorFooterLink: $colorGreyLight;


$colorLink: $colorGold;

$colorCodeBackground: desaturate(mix($colorGold, $colorPage, 20%), 10%);
$colorCodeText: mix($colorGreyDark, $colorCodeBackground, 50%);
$colorCodeTextHover: $colorGreyDark;
$colorCodeLineNumber: mix($colorCodeText, $colorCodeBackground, 50%);

$colorMenuTitle: $colorGrey;
$colorMenuButton: $colorGreyDeep;
$colorMenuButtonHover: $colorGold;
$colorMenuButtonSelected: $colorGold;

$colorHr: $colorGrey;
$colorTableOdd: mix($colorGreyLight, white, 30%);

$ease: 0.25s ease-out;
