
// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==               THEME               ===================================================================================================================================
// ==            CUSTOM VARS            ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================


$colorGold: rgb(184, 151, 102);
$colorGreyDark: rgb(85, 85, 85);
$colorGreyDeep: rgb(128, 128, 128);
$colorGrey: rgb(217, 217, 217);
$colorGreyLight: rgb(236, 232, 232);
$colorBlack: $body-color;

/* widgets */
$colorText: $font-color;
$colorTextBold: $colorGreyDark;
$colorPage: $colorGreyLight;
$colorLogoText: $colorGreyLight;
$colorFooterLink: $colorGreyLight;
$colorFooterLinkHover: $colorGold;
$colorFooterBold: mix($colorGold, $colorText, 50%);

$colorLink: $colorGold;

$colorCodeBackground: desaturate(mix($colorGold, $colorPage, 20%), 10%);
$colorCodeText: mix($colorGreyDark, $colorCodeBackground, 50%);
$colorCodeTextHover: $colorGreyDark;
$colorCodeLineNumber: mix($colorCodeText, $colorCodeBackground, 50%);

$colorMenuTitle: $colorGrey;
$colorMenuButton: $colorGreyDeep;
$colorMenuButtonHover: $colorGold;
$colorMenuButtonSelected: mix($colorGreyDeep, $colorBlack, 50%);

$colorBlockquote: mix($colorPage, white, 50%);
$colorHr: $colorGrey;
$colorTableBg: white;
$colorTableOdd: mix($colorGreyLight, $colorTableBg, 30%);

$ease: 0.25s ease-out;
