<main class="main {% if metadata.hamburger %} main--hamburger {% else %} main--aside {% endif %}">
  <h1 class="main__title">
    {{ title }}
  </h1>

  {% for annotation in annotations %}
    {% if loop.first %}
      {% include '../main/infos.twig' with { icon: 'fa fa-paint-brush' } %}
      <div class="colors">
    {% endif %}
        {% include 'item.twig' %}
    {% if loop.last %}
      </div>
    {% endif %}
  {% endfor %}
  {{ contents }}
</main>
