
.miniml-map {
  margin-top: s(1);

  @include element('labels') {
    @include row;
    clear: both;
    line-height: 1;
    margin-bottom: s(-0.25);
    width: 100%;

    @include modifier('m-top') {
      margin-top: s(1);
    }
  }

  @include element('label') {
    @include asTable(false, middle, auto);

    color: $color-text;
    cursor: default;
    float: left;
    font-size: $font-size-small;
    margin-bottom: s(0.25);
    margin-right: s(1);
    transition: color $ease-hover;

  }

  @include element('dots') {
    margin-top: s(1);
    &::after {
      clear: both;
      content: '';
      display: block;
      height: 0;
    }
  }

  @include element('group') {
    overflow: auto;
    position: relative;
    z-index: 0;

    &:hover {
      transition-delay: 0s;
      z-index: 1;

      &::after {
        opacity: 1;
      }

      .miniml-map-dot {
        $border-color: rgba($color-border-dark, 0.30);
        border: 5px solid $border-color;

        &::before {
          left: -8px;
          top: -5px;
        }

        &:hover {
          border: 2px solid $color-dark;

          &::before {
            left: -6px;
            top: -2px;
          }
        }
      }
    }

    &::before {
      background-color: rgba(255,255,255,0.8);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;

      transition:
      visibility 0s linear $tip-duration * 2,
      opacity 0.5s $ease-hover-slow;

      visibility: hidden;
      z-index: -2;
    }
  }
}
