
.miniml-map {
  margin-top: s(1);

  @include element('labels') {
    @include row;
    width: 100%;
  }

  @include element('label') {
    @include asTable(false, middle, auto);

    color: $color-text;
    cursor: default;
    float: left;
    font-size: $font-size-small;
    margin-right: s(1);
    transition: color $ease-hover;

  }

  @include element('dots') {
    margin-top: s(1);
  }

  @include element('group') {
    overflow: auto;

    .miniml-tip {
      left: -8px !important;
    }

    &:hover {
      .miniml-map-dot {
        $border-color: rgba($color-border-dark, 0.30);
        border: 5px solid $border-color;

        &:hover {
          border: 2px solid $color-dark;
        }
      }
    }
  }
}
