.miniml-snippet-example-preview {

  $height: s(2);

  background-color: $color-background-dark;
  border-radius: $radius;

  color: $color-text-lightest;
  cursor: default;
  left: s(-0.5, $tip-width) + s(0.5, $map-dot-size) - 2px;
  min-width: $tip-width;
  opacity: 0;

  padding: s(1);
  padding-bottom: 0;
  position: absolute;

  text-align: center;
  top: 28px;
  // transform: scale(0.5);
  // transform-origin: top left;

  // transition:
  // visibility $ease-hover,
  // transform $ease-hover $tip-duration,
  // opacity $ease-hover,
  // top $ease-hover;

  visibility: hidden;
  white-space: nowrap;
  z-index: -1;

  @include arrow-after((
      'color': $color-background-dark,
      'offset': 50%,
      'position': top,
      'size': $tip-arrow-size
    ));

  &::before {
    content: '';
    display: block;
    height: 30px;
    left: s(0.5, $tip-width) - s(0.75, $map-dot-size);
    position: absolute;
    top: s(-1.5, $map-dot-size);
    width: s(1.5, $map-dot-size);
    z-index: -1;
  }

  @include element('links') {
    text-align: left;
    white-space: nowrap;
  }

  @include element('link') {
    border-radius: $radius;
    color: mix($color-light, $color-background-dark);
    display: inline-block;
    font-size: 12px;
    margin-bottom: s(0.5);
    padding: s(0.125) s(0.25);
    text-decoration: none;

    &:hover {
      color: $color-light;
    }

    & + & {
      margin-left: s(0.5);
    }
  }

  @include element('preview') {
    $border: 1px solid $color-hr;
    $background: rgba($color-light, 0.9);

    background-color: $background;
    border: $border;
    border-radius: 0 0 $radius $radius;
    border-top: 0;
    margin-left: s(-1);
    margin-right: s(-1);
    padding: s(0.5) + 4px;
    padding-bottom: s(0.5);
    position: relative;
    transition: background-color $ease-hover-slow;

    &:hover {
      background-color: rgba($color-light, 0.25);
    }

    &::after {
      @include backgroundImage('transparent-background-light.svg');
      background-position: 50% 50%;
      background-size: contain;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}
