.miniml-tip {
  $height: s(2);
  $arrow-position: 14px;

  background-color: $color-background-dark;
  border-radius: $radius;
  color: $color-text-lightest;
  height: $height;
  left: s(-0.5, $tip-width) + s(0.5, $map-dot-size) - 2px;
  line-height: $height;
  min-width: $tip-width;
  opacity: 0;

  padding-left: s(1);
  padding-right: s(1);
  pointer-events: none;
  position: absolute;

  text-align: center;
  top: s(1.25, s(-2));
  // transform: scale(0.5);
  // transform-origin: bottom left;
  // transition:
  // visibility $ease-hover,
  // transform $ease-hover $tip-duration,
  // opacity $ease-hover,
  // top $ease-hover;

  visibility: hidden;
  white-space: nowrap;

  @include element('type') {
    color: mix($color-text-lightest, $color-background-dark);
  }

  @include arrow-after((
      'color': $color-background-dark,
      'offset': 50%,
      'position': bottom,
      'size': $tip-arrow-size
    ));
}
