
// if $use-root-path located in app.less is set to true use it with:
// @include backgroundImage("background.png");
// this will output
// background-image: url("/img/background.png");

// set font scaling to change the font size depending by different resolutions
//@include setFontScaling(body, 20px, 18px, 16px, 16px, 16px, 16px);
//@include setLineHeightScaling(body, $spacing);

// @include font('open sans', 'OpenSans-Bold',    700);
// @include font('open sans', 'OpenSans-Regular', 400);
// @include font('open sans', 'OpenSans-Light',   200);

//@include addFloatGridContainer(row);

//@include addFloatGridColumns(12);
//@include addFloatGridOffset(12);
//@include addFloatGridColumns(4, 2, 2, "l", "m", "s", "mobile-landscape", false);

// put .addViewportsSteps at the bottom of the configuration
//@include addViewportsSteps(use-steps, 500px, 100px, 50px, 0);
