<main class="main">
  <h1 class="main__title">
    {{ title }}
  </h1>

  {% set titleFontSize = '32px' %}

  {% for annotation in annotations %}
    {% if loop.first %}
      {% include '../main/infos.twig' with { icon: 'fa fa-font' } %}
    {% endif %}
    <hr class="hr">
    {% include 'item.twig' %}
  {% endfor %}
  {{ contents }}
</main>
