<iframe class="font__frame" scrolling="no" onload="resizeIframe(this)" srcdoc="
<html>
<head>
  <style media='all'>{% include '../main/css.twig' %}</style>
  <style>
    div {
      column-count: 2;
    }
  </style>
</head>
<body class='{{ annotation.selectorClass }}' style='padding:0; margin:0; line-height:1;'>
  <div {% if fontSize is defined %}style='font-size: {{ fontSize }};'{% endif %}>{{ annotation.preview.paragraph }}</div>
</body>
</html>" width="100%" height="0px">
  It seems that your browser doesn't support <b>srcdoc</b> attribute for the <b>iframe</b> element.
</iframe>
