<iframe class="font__title" scrolling="no" onload="resizeIframe(this)" srcdoc="
<html>
<head>
  <style media='all'>{{ global.css|escape }}</style>
</head>
<body class='{{ annotation.selectorClass }}' style='padding:20px; line-height:0;'>
  {{ annotation.name }}
</body>
</html>" width="100%" height="auto">
  It seems that your browser doesn't support <b>srcdoc</b> attribute for the <b>iframe</b> element.
</iframe>
