body {
  font-size: 100%;

  @include media ('<tablet-small') {
    font-size: 90%;
  }

  @include media ('>=tablet-small') {
    font-size: 100%;
  }

  @include media ('>desktop-small') {
    font-size: 100%;
  }

  @include media ('>=1600px') {
    font-size: 120%;
  }

  @include media ('>=1700px') {
    font-size: 130%;
  }

  @include media ('>=desktop-large') {
    font-size: 140%;
  }
}
