<h3 class="miniml__title">
  Map
</h3>
<hr class="miniml__hr">

<div class="miniml-map">

  <div class="miniml-map__label miniml-map__label--category">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--category"></span>
      </div>
      <div>
          Categoria
      </div>
    </div>
  </div>

  <div class="miniml-map__dots">
    <span class="miniml-map-dot miniml-map-dot--category"></span>
    <span class="miniml-map-dot miniml-map-dot--snippet"></span>
    <span class="miniml-map-dot miniml-map-dot--example"></span>
    <span class="miniml-map-dot miniml-map-dot--page miniml-map-dot--latest"></span>
    <span class="miniml-map-dot miniml-map-dot--doc"></span>
  </div>
</div>
