<h3 class="miniml__title">
  Map
</h3>
<hr class="miniml__hr">

<div class="miniml-map">

  <%- partial('_partial/index/map__labels') %>

  <div class="miniml-map__dots">
    <%- partial('_partial/index/map__dots', {
      elements: site.tags,
      name: 'category',
      preview: 'tip'
    }) %>
    <%- partial('_partial/index/map__dots', {
      elements: site.categories,
      name: 'snippet',
      preview: 'tip'
    }) %>
    <!--span class="miniml-map-dot miniml-map-dot--category"></span>
    <span class="miniml-map-dot miniml-map-dot--snippet"></span>
    <span class="miniml-map-dot miniml-map-dot--example"></span>
    <span class="miniml-map-dot miniml-map-dot--page miniml-map-dot--latest"></span>
    <span class="miniml-map-dot miniml-map-dot--doc"></span-->
  </div>
</div>
