<div class="miniml-map__labels">
  <div class="miniml-map__label miniml-map__label--category">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--category-snippet"></span>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--category-doc"></span>
      </div>
      <div>
          Categories
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--snippet">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--snippet"></span>
      </div>
      <div>
          Snippet
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--example">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--example"></span>
      </div>
      <div>
          Example
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--page">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--page"></span>
      </div>
      <div>
          Page
      </div>
    </div>
  </div>
  <div class="miniml-map__label miniml-map__label--doc">
    <div>
      <div>
        <span class="miniml-map-dot miniml-map-dot--no-margin miniml-map-dot--doc"></span>
      </div>
      <div>
          Documentation
      </div>
    </div>
  </div>
</div>
