
// The kbd element represents user input (typically keyboard input,
// although it may also be used to represent other input,
// such as voice commands).
//
// When the kbd element is nested inside a samp element,
// it represents the input as it was echoed by the system.
//
// When the kbd element contains a samp element,
// it represents input based on system output, for example invoking a menu item.
//
// When the kbd element is nested inside another kbd element,
// it represents an actual key or other single unit of input
// as appropriate for the input mechanism.
//
// Url - http://html5doctor.com/element-index/#kbd

kbd {

    font-family : $font-monospace;
    font-style  : normal;

    kbd {
        padding          : 0;
        border           : none;
        background-color : transparent;
        background       : none;
        position         :  static;

        @include box-shadow(none);
        &:active {
            margin-bottom   : 0;
            border          : none;
        }
    }
}
