
// If the a element has an href attribute, then it represents
// a hyperlink (a hypertext anchor).
//
// If the a element has no href attribute, then the element represents
// a placeholder for where a link might otherwise have been placed,
// if it had been relevant.
//
// The target, rel, media, hreflang, and type attributes must be omitted
// if the href attribute is not present.
//
// Url - http://html5doctor.com/element-index/#a

a {

    color: $colorLink;
    word-wrap: break-word;

    @include transition(color background-color, 0.125s ease-in-out);

    &[title]:hover {
        cursor: pointer;
    }

    &:active,
    &:hover,
    &.hover,
    &.selected,
    &.active {
        color: desaturate($colorLink, 10%);
        background-color: mix($colorLink, $colorPage, 15%);
    }

    &.selected {
        cursor : default;
    }

    img {
        border : none;
    }
}
