@include block ('a-pollo-aside') {
  $ease: 0.25s ease(in-out-expo);

  background-color: $color-body-background;
  bottom: 0;
  color: $color-body-text;
  left: 0;
  padding-top: $initial-top-padding;
  position: fixed;
  top: 0;
  transition: background-color $ease, color $ease, transform $ease;
  width: $aside-width;

  &:hover {

  }

  @include element ('header') {
    text-align: center;
  }

  @include element ('logo') {
    $height: 38px;
    $width: 33px;
    $scale: 1.5;
    background-image: theme('a-pollo-logo-gold.svg');
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: contain;
    display: inline-block;
    height: s($scale, $height);
    line-height: 0;
    width: s($scale, $width);
  }
}
