@include block ('aside') {

  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $aside-top-padding 0 $main-top-padding s(2);
  position: fixed;
  top: 0;
  width: $aside-width;

  @include media ('<=tablet-large') {
    display: none;
  }

  &::after {
    $transparency: rgba($color-body-background, 0);
    $fill: rgba($color-body-background, 1);

    background-image: linear-gradient(to right, $transparency 0%, $fill 100%);
    bottom: 0;
    content: '';
    display: block;
    pointer-events: none;
    position: fixed;
    right: 100 - $aside-width;
    top: 0;
    transition: width $ease-aside;
    width: 50px;
    z-index: 1;
  }

  &:hover {
    &::after {
      width: 20px;
    }

    .aside-menu {
      opacity: 1;
    }

    .aside-menu__title--big::after {
      width: 50%;
    }

    .hr {
      opacity: 1;
      width: 50%;
    }

    @include element ('contents') {
      transform: translate(0, 0);
    }

    @include element ('headline') {
      opacity: 1;
    }
  }

  @include element ('header') {
    margin-bottom: s(3);
    overflow: auto;
  }

  @include element ('contents') {
    position: relative;
    transform: translate(40%, 0);
    transition: transform $ease-aside;
  }

  @include element ('logo') {
    $height: 38px;
    $width: 33px;
    $scale: 1.5;
    background-image: theme('a-pollo-logo-simple-black.svg');
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: contain;
    display: inline-block;
    float: left;
    height: s($scale, $height);
    line-height: 0;
    margin-right: s(0.5);
    width: s($scale, $width);
  }

  @include element ('headline') {
    margin-top: s(1);
    opacity: 0;
    transition: $ease-aside;
    white-space: nowrap;
  }

  @include element ('title') {
    display: block;
    font-weight: 600;
  }

  @include element ('sub-title') {
    display: block;
  }
}
