@include block ('body') {
  background-color: $color-body-background;
  color: $color-body-text;
  font-family: $font-sans;
  font-weight: 300;
  line-height: 1.25;

  @include modifier ('no-overflow') {
    overflow: hidden;
  }
}
