@include block ('colors') {

  @include row((
      '>=tablet-large': 2
  )) {
    padding: s(1);
  }

  margin-bottom: s(1.5);
  margin-left: s(-1);
  margin-right: s(-1);
  margin-top: s(0.5);
  width: auto;
}
