@include block ('color') {

  border-bottom: $border-code $color-border;
  display: flex;
  margin-top: s(3);
  padding-bottom: s(3);

  &:last-child {
    border-bottom: 0;
  }

  @include media ('<=tablet-small') {
    flex-direction: column;
  }

  @include element ('preview') {
    $size: em(150px);
    border-radius: $size;
    display: inline-block;
    flex-shrink: 0;
    height: $size;
    width: $size;

    @include media ('<=tablet-small') {
      margin-bottom: s(2);
      margin-left: auto;
      margin-right: auto;
    }

    @include modifier ('bordered') {
      $shadow: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0 1px $shadow inset;
    }
  }

  @include element ('var') {
    @include flag-link;
    white-space: normal;
  }

  @include element ('header') {
    display: block;
  }

  @include element ('infos') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: s(1);

    @include media ('<=tablet-small') {
      flex-direction: column;
      margin-left: 0;
    }
  }

  @include element ('values') {
    display: flex;
    flex-wrap: wrap;
    margin-left: s(-0.5);
    margin-right: s(-0.5);
  }
}
