@include block ('file') {
  font-size: px-to-em(12px);

  @include element ('title') {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-right: px-to-em(s(0.25));
    text-transform: uppercase;
  }

  @include element ('item') {
    display: inline-block;
    margin-left: px-to-em(s(1));
    white-space: nowrap;

    &:first-child {
      margin-left: 0;
    }

    @include modifier ('fill') {
      display: block;
      margin-left: 0;

      & + .file__item {
        margin-left: 0;
      }
    }
  }

  @include element ('value') {
    display: inline-block;
    @include flag-link;
  }
}
