@include block ('font') {
  @include element ('title') {
    line-height: 0;
  }

  @include element ('frame') {
    border: 0;
  }

  @include element ('characters') {
    line-height: 0;
    margin-top: s(2);
  }

  @include element ('paragraphs') {
    line-height: 0;
    margin-top: s(2);
  }
}
