@include block ('font-file-size') {
  font-size: px-to-em(12px);

  @include element ('title') {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-right: px-to-em(s(0.25));
    text-transform: uppercase;
  }

  @include element ('item') {
    display: inline-block;
    white-space: nowrap;

    &:first-child {
      display: block;
    }

    &:last-child {
      margin-left: px-to-em(s(1));
    }
  }

  @include element ('value') {
    display: inline-block;
  }
}
