@include block ('hr') {
  border: 0;
  border-top: em(s(1)) solid $color-border;
  margin-bottom: em(s(3));
  margin-top: em(s(3));

  @include modifier ('aside') {
    opacity: 0;
    transition: opacity $ease-aside, width 0.5625s ease(in-out-expo);
    width: 100%;
  }

  @include modifier ('image') {
    border-top: $border $color-border;
    margin-bottom: em(s(1));
    margin-top: 0;
  }

  @include modifier ('thin') {
    border-top: $border $color-border;
    margin-bottom: em(s(1));
    margin-top: em(s(1));
  }

  @include modifier ('bright') {
    border-top-color: $color-border-bright;
  }
}
