@include block ('icon-dot') {
  $size: em(40px);
  background-color: $color-icon-background;
  border-radius: 100px;
  color: $color-icon-text;
  line-height: $size;
  text-align: center;
  width: $size;
}
