@include block ('info') {
  display: inline-block;
  margin-top: s(1);

  & + & {
    margin-left: s(2);
  }

  @include modifier ('author') {
    @include media ('<=tablet-small') {
      display: none;
    }
  }

  @include modifier ('date') {
    @include media ('<=tablet-large') {
      display: none;
    }
  }

  @include modifier ('category') {
    @include element ('value') {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  @include element ('title') {
    font-weight: 600;
    @include modifier ('upper') {
      text-transform: uppercase;
    }
  }

  @include modifier ('icon') {
    margin-right: s(-0.5);
  }

  @include modifier ('bottom') {
    margin-bottom: s(1);
  }
}
