@include block ('main') {
  background-color: $color-body-background;
  margin-left: 20%;
  padding: $main-top-padding s(2);
  position: relative;
  width: 60%;
  z-index: 1;

  @include modifier ('hamburger') {
    margin-left: 15%;
    width: 70%;
  }

  @include modifier ('aside') {
    margin-left: 20%;

    @include media ('<=desktop-small') {
      margin-left: 30%;
    }
  }

  @include media ('<=tablet-large') {
    margin-left: 0;
    padding: s(5) s(2);
    width: 100%;
  }

  @include media ('<=tablet-small') {
    padding: s(4) s(1) s(1);
  }

  @include element ('title') {
    font-size: em(32px);
    margin: 0;

    @include modifier ('assets') {
      margin-top: em(s(1.5));
    }
  }

  @include element ('sub-title') {
    margin: 0;
  }
}
