@include block ('main') {
  background-color: $color-body-background;
  margin-left: $aside-width;
  padding: $main-top-padding s(2);
  position: relative;
  width: $main-width;
  z-index: 1;

  @include element ('title') {
    margin: 0;
  }

  @include element ('sub-title') {
    margin: 0;
  }
}
