@include block ('main') {
  background-color: $color-body-background;
  margin-left: $aside-width;
  padding: $main-top-padding s(2);
  position: relative;
  width: $main-width;
  z-index: 1;

  @include media ('<=tablet-large') {
    margin-left: 0;
    padding: s(2);
    width: 100%;
  }

  @include media ('<=tablet-small') {
    margin-left: 0;
    padding: s(1);
    width: 100%;
  }

  @include modifier ('short') {
    width: ($main-width - 10%);
  }

  @include element ('title') {
    font-size: px-to-em(32px);
    margin: 0;

    @include modifier ('assets') {
      margin-top: px-to-em(s(1.5));
    }
  }

  @include element ('sub-title') {
    margin: 0;
  }
}
