@include block ('options') {
  color: $color-body-text;
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-top: s(1);
  padding: 0;

  @include media ('<=mobile-large') {
    margin-left: 0 !important;
    width: 100%;
  }

  & + & {
    margin-left: s(2);
  }

  @include element ('title') {
    font-weight: $font-weight-bold;
  }

  @include element ('item') {
    float: left;

    & + & {
      margin-left: s(1);
    }
  }

  @include element ('action') {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease(out-expo);
    @include flag-link;
    // @include selected;
  }
}
