@include block ('snippet-item') {
  $icon-size: 28px;
  overflow: visible;

  &::after {
    clear: both;
    content: '';
    display: table;
    height: 1px;
    margin-top: -1px;
  }

  @include element ('title') {
    margin-bottom: s(1);

    @include modifier ('small') {
      font-size: px-to-em(18px);
    }
  }

  @include element ('category') {
    font-size: px-to-em(13px);
    font-weight: 200;
    line-height: px-to-em($icon-size);
  }

  @include element ('icon') {
    background-color: $color-icon-background;
    border-radius: 100px;
    color: $color-icon-text;
    display: block;
    float: left;
    height: px-to-em($icon-size);
    margin-right: 4px;
    text-align: center;
    width: px-to-em($icon-size);
  }
}
