@include block ('snippet-item') {
  overflow: visible;

  &::after {
    clear: both;
    content: '';
    display: table;
    height: 1px;
    margin-top: -1px;
  }

  @include element ('title') {
    margin-bottom: s(1);

    @include modifier ('small') {
      font-size: px-to-em(18px);
    }
  }

  @include element ('category') {
    font-size: px-to-em(16px);
    font-weight: 200;
  }
}
