@include block ('time') {

  &:hover {
    @include element ('time-ago') {
      display: none;
    }
    @include element ('full-date') {
      display: inline-block;
    }
  }

  @include element ('full-date') {
    display: none;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
