<div class="code">
  <div class="infos">
    <div class="info">
      <div class="info__title info__title--upper">
        {{ lang|upper }}
      </div>
    </div>
  </div>

  {% if code.text %}
    {{ code.text }}
  {% endif %}

  <div class="code__snippet">
    <pre><code class="lang-{{ lang }}">{{ code.snippet|raw }}</code></pre>
  </div>

  {% if generated != true %}
    <ul class="options">
      <li class="options__title">
        Code
      </li>
      <li class="options__item">
        <span class="options__action copy-snippet" data-title="Copy to clipboard" data-clipboard-text="data to be copied here">Copy to clipboard</span>
      </li>
    </ul>
  {% endif %}
</div>
