{% if date %}
  <div class="info info--date {% if selector %} {{ selector }} {% endif %}">
    <div class="info__title">
      Date
    </div>
    <span class="time">
      <time class="time__time-ago time-ago" datetime="{{ date }}">{{ date }}</time>
      <span class="time__full-date">
        {{ date|date() }}
      </span>
    </span>
  </div>
{% endif %}
