<div class="infos">
  {% if annotation.icon or icon %}
  <div class="info info--icon">
    <div class="icon-dot">
      {% if annotation.icon %}
        <i class="{{ annotation.icon }}"></i>
      {% else %}
        <i class="{{ icon }}"></i>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% include '../main/info.twig' with { title: 'Category', value: category, default: 'Not available', selector: 'info--category' } %}
  {% include '../main/info.twig' with { title: 'Source', value: annotation.path.base, default: 'Unknown!' } %}
  {% include '../main/info.twig' with { title: 'Author', value: annotation.author, default: 'Unknown', selector: 'info--author' } %}
  {% include '../main/info-date.twig' %}
</div>
