<div class="info{% if selector %} {{ selector }} {% endif %}">
  <div class="info__title">
    {{ title }}
  </div>
  <div class="info__value markdown">
    {% if value %}
      {{ value }}
    {% else %}
      {{ default }}
    {% endif %}
  </div>
</div>
