<header class="apollo-website-header apollo-website-spacer">
    <div class="apollo-website-header__col-logo">
        <a href="https://github.com/vitto/a-pollo#readme" class="apollo-website-header__logo apollo-website-header__logo--small"></a>
    </div>
    <div class="apollo-website-header__col-social">
        <%- partial('_partial/website/social-buttons') %>
    </div>
    <nav class="apollo-website-header__col-menu">
        <%- partial('_partial/website/menu') %>
    </nav>
</header>
