<%
    var prevCategory = ''
%>
<% site.pages.data = _.sortBy(site.pages.data, 'category') %>
<% if (site.pages.length > 1) { %>
    <% site.pages.each(function (page, i) { %>

        <% if (page.category !== undefined && page.category.toLowerCase() !== 'a-pollo') { %>
            <% if (prevCategory != page.category) { %>
                <% console.log('opening UL'); %>
                <ul class="apollo-menu">
                    <li class="apollo-menu__title">
                        <%= page.category %>
                    </li>
                <% prevCategory = page.category %>
            <% } %>
        <% } else { %>
            </ul>
        <% } %>

        <% if (page.category !== undefined && page.category.toLowerCase() !== 'a-pollo') { %>
        <li class="apollo-menu__item">
            <% if (url.replace('index.html', '') === page.permalink) { %>
                <a href="<%= page.permalink %>" class="apollo-menu__link apollo-menu__link--current">
            <% } else { %>
                <a href="<%= page.permalink %>" class="apollo-menu__link">
            <% } %>
                <%= page.title %>
            </a>
        </li>
        <% } %>

    <% }) %>
<% } %>
