<div class="hamburger-footer">
  <div class="hamburger-footer__area">
    <hr class="hr hr--bright">
    <div class="hamburger-footer__contents">
      <div class="hamburger-footer__left">
        <a href="{{ metadata.repo }}" class="hamburger-footer__icon">
          <i class="icon icon-a-pollo"></i>
        </a>
        <p class="hamburger-footer__headline">
          <strong class="hamburger-footer__name">a-pollo</strong>
          <span class="hamburger-footer__description">
            The CSS stye guide
          </span>
        </p>
      </div>
      <div class="hamburger-footer__right">
        <div class="hamburger-list">
          <div class="hamburger-list__title">
            External links
          </div>
          <div class="hamburger-list__items">
            <a class="hamburger-list__item" href="{{ metadata.repo }}">
              <i class="fa fa-github-alt"></i> <span class="hamburger-list__text">GitHub</span>
            </a>
            <a class="hamburger-list__item" href="{{ metadata.work }}">
              <i class="fa fa-briefcase"></i> <span class="hamburger-list__text">ideato</span>
            </a>
            <a class="hamburger-list__item" href="{{ metadata.home }}">
              <i class="fa fa-coffee"></i> <span class="hamburger-list__text">vit.to</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
