<div class="hamburger {% if desktop == true %} hamburger--desktop {% endif %}">
  <div class="hamburger__area">
    <div class="hamburger__area-header">
      <div class="hamburger__button hamburger__button--close">
        <i class="fa fa-close"></i>
      </div>
    </div>
    <div class="hamburger__menus">
      {% include 'hamburger-menu.twig' with { title: 'Documentation', items: metadata.collections.doc, icon: 'fa fa-book' } %}
      {% include 'hamburger-menu.twig' with { title: 'Snippet', items: metadata.collections.snippet, icon: 'fa fa-code' } %}
      {% include 'hamburger-menu.twig' with { title: 'Posts', items: metadata.collections.posts, icon: 'fa fa-quote-left' } %}
      {% include 'hamburger-menu-simple.twig' with { title: 'Identity', items: metadata.collections.identity, icon: 'fa fa-paint-brush' } %}
      {% include 'hamburger-menu-assets.twig' with { icon: 'fa fa-picture-o' } %}
    </div>
    {% include 'hamburger-footer.twig' %}
  </div>
  <div class="hamburger__header">
      <a href="{{ relativePath }}" class="hamburger__logo icon icon-a-pollo"></a>
      <div class="hamburger__button">
        <i class="fa fa-navicon"></i>
      </div>
  </div>
</div>
