<div class="hamburger-footer">
  <div class="hamburger-footer__area">
    <hr class="hr hr--bright">
    <div class="hamburger-footer__contents">
      <div class="hamburger-footer__left">
        <a href="{{ metadata.repo }}" class="hamburger-footer__icon">
          <i class="icon icon-a-pollo"></i>
        </a>
        <p class="hamburger-footer__headline">
          <strong class="hamburger-footer__name">a-pollo</strong>
          <span class="hamburger-footer__description">
            The CSS stye guide
          </span>
        </p>
      </div>
      <div class="hamburger-footer__right">
        <strong class="hamburger-footer__title"></strong>
      </div>
    </div>
  </div>
</div>
