<ul class="hamburger-menu">
  {% if icon %}
    <li class="hamburger-menu__icon">
      <i class="{{ icon }}"></i>
    </li>
  {% endif %}
  <li class="hamburger-menu__title hamburger-menu__title--big">
    assets
  </li>
  <li class="hamburger-menu__item">
    <a class="hamburger-menu__link{% if path == 'assets' %} hamburger-menu__link--selected {% endif %}" href="{{ relativePath }}assets/index.html">
      <i class="fa fa-copy"></i> Show all
    </a>
  </li>
</ul>
