.apollo-website-menu {
    @include element( "link" ) {

        text-decoration: none;
        display: inline-block;

        padding: s(0.25) s(0.5);

        @include setFont(200, $colorMenuButton);

        @include transition(color 0.125s ease-out);

        &:hover {
            color: $colorMenuButtonHover;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        @include modifier( "current" ) {
            cursor: default;
            color: $colorPost;
            &:hover {
                color: $colorPost;
            }
        }
    }
}
