.apollo-website-headline {

    padding: s(3) s(2) 0 s(2);
    margin: s(3) 0 s(6) 0;
    text-align: center;

    @media #{$from-tablet-landscape} {
        padding-top: 0;
    }

    @include element("title") {
        text-transform: uppercase;
        @include setFont(600, $colorWebsiteHeader, 48px, s(48px, 1.5));
    }

    @include element("sub-title") {
        @include setFont(600, $colorWebsiteHeaderSubText, 24px, s(24px, 1.5));
    }

    @include element("logo") {
        @include icon("a-pollo-logo.svg", 160px, 160px);
        margin: 0 auto s(2) auto;


        @media #{$from-tablet-landscape} {
            display: none;
        }
    }
}
