.apollo-website-headline {

    padding: 0 s();
    margin: s(3) 0 s(6) 0;
    text-align: center;

    @media #{$till-tablet-landscape} {
        margin-top: 0;
        padding-top: s(5);
    }

    @include element("title") {
        text-transform: uppercase;
        color: $colorWebsiteHeader;
        font-size: 48px;
    }

    @include element("sub-title") {
        font-size: 24px;
        color: $colorWebsiteHeaderSubText;
    }
}
