.apollo-website-logo {

    max-width: 500px;
    position: relative;
    margin: auto;
    margin-bottom: s(2);
    z-index: 1;

    @mixin websiteLibLogo($image) {
        $width: 122px;
        $height: 91px;
        display: inline-block;
        @include icon($image, $width, $height);
        margin-left: s();
        margin-right: s();

        @include transition(transform 0.125s ease-out);
    }

    @include element("css3") {
        @include websiteLibLogo("css3-logo.svg");
    }

    @include element("less") {
        @include websiteLibLogo("less-logo.svg");
    }

    @include element("sass") {
        @include websiteLibLogo("sass-logo.svg");
    }
}
