.apollo-website-mincer {

    text-align: center;

    $width: 160px;
    $height: 280px;
    $upperHeight: 168px;

    height: 400px;

    @media #{$till-tablet-portrait} {
        display: none;
    }

    @include element("container-upper") {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3;
    }

    @include element("container-lower") {
        position: absolute;
        left: 0;
        right: 0;
    }

    @include element("upper") {
        position: relative;
        margin: auto;

        display: inline-block;

        @include backgroundImage("a-pollo-mincer.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: $width $height;
        width: $width;
        height: $upperHeight;
    }

    @include element("lower") {
        position: relative;
        margin: auto;

        display: inline-block;
        top: $upperHeight;

        @include backgroundImage("a-pollo-mincer.svg");
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: -($upperHeight);
        background-size: $width $height;
        width: $width;
        height: 111px;
    }
}
