.apollo-website-headline {

    padding: 0 s();
    margin: s(3) 0 s(6) 0;
    text-align: center;

    @media #{$till-tablet-landscape} {
        margin-top: 0;
        padding-top: s(5);
    }

    @include element("title") {
        text-transform: uppercase;
        @include setFont(600, $colorWebsiteHeader, 48px);
    }

    @include element("sub-title") {
        @include setFont(600, $colorWebsiteHeaderSubText, 24px);
    }
}
