.apollo-nav {
    margin-left:s(-0.5);
    @media #{$till-tablet-landscape} {
        display: none;
    }
    @include element( "button" ) {

        text-decoration: none;
        display: inline-block;

        padding: s(0.25) s(0.5);

        @include setFont(200, $colorMenuButton);

        @include transition(color 0.125s ease-out);

        &:hover {
            color: $colorMenuButtonHover;
            .apollo-menu__docs {
                color: $colorMenuButtonHover;
            }
        }

        @include modifier( "current" ) {
            cursor: default;
            color: $colorPost;
            background-color: $colorHeaderLinkActive;
            &:hover {
                background-color: $colorHeaderLinkActive;
                .apollo-menu__docs {
                    background-color: $colorHeaderLinkActive;
                }
            }

            &:first-child {
                margin-left:s(0.5);
            }
        }
    }
}
