
.apollo-post {
    display: block;
    background-color: $colorPost;
    min-height: 100vh;

    @include modifier("white") {
        background-color: white;
    }

    @include postPadded();

    @include setFont();
    @include baseLink();
    @include baseBold();
    @include fontAwesome();

    @include element("markown-inline") {
        display: inline-block;
        > p {
            @include setFont();
            @include baseLink();
            @include baseBold();
            @include fontAwesome();
        }
    }

    @include element("list-title") {
        list-style-type: none;
        margin-left: 0 !important;
    }

    > table {
        width: 100%;
        background-color: $colorTableBg;
        margin-bottom: s();

        th {
            text-align: left;
            font-weight: 500;
            color: $colorTextBold;
        }

        th, td {
            padding: s(0.25) s(0.5);
            @include fontAwesome();
        }

        tr:nth-child(odd) {
            td {
                background-color: $colorTableOdd;
            }
        }
    }

    > p,
    > blockquote p {
        @include fontAwesome();
        @include setFont();
        @include baseLink();
        @include baseBold();
        code {
            @include baseInlineCode();
        }
    }

    > p {
        margin-bottom: s();
    }

    > blockquote {
        padding: s();
        @include setFont();
        border-left: 3px solid darken($colorPost, 4%);
        background-color: $colorBlockquote;
        margin-bottom: s(1.5);
        li {
            @include setFont();
            @include baseLink();
            @include baseBold();
            @include fontAwesome();
        }
    }

    > strong + code {
        margin-left: s(0.125);
        @include baseInlineCode();
    }

    > hr {
        @include baseHr();
    }

    > ol,
    > ul {
        padding : 0;
        margin : 0 0 s() 0;
        > br {
            display: none;
        }
        li {
            padding: 0;
            margin: 0 0 0 s();
            @include setFont();
            @include baseLink();
            @include baseBold();
            @include fontAwesome();
        }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin: s(2) 0 s(0.5) 0;
        color: $colorTextBold;
        font-family: $font-heading;
        font-weight: 500;
        line-height: 1;
        @include fontAwesome();
    }

    > h1 { font-size : $h1; }
    > h2 { font-size : $h2; }
    > h3 { font-size : $h3; }
    > h4 { font-size : $h4; }
    > h5 { font-size : $h5; }
    > h6 { font-size : $h6; }

    > pre {
        @include baseCode();
    }

    > .highlight {
        @extend .apollo-code-example;
        cursor: text;
        margin-bottom: s();
        overflow-x: auto;
        .code {
            padding-right: s();
        }
    }

}
