.apollo {
    @include row();
    padding-top: s(3);

    @include modifier("no-padding") {
        padding-top: 0;
    }

    @include element("aside") {
        margin-top: s(4);
        padding: 0 s(2) s(2) s(2);
        @media #{$till-tablet-landscape} {
            display: none;
        }
        @include column(
            2, 2,
            2, 12,
            12, 12
        );
    }

    @include element("page") {
        @include column(
            8, 8,
            8, 12,
            12, 12
        );
    }
}
