
.apollo-page {
    display: block;
    background-color: $colorPage;
    min-height: 100vh;

    // @include box-shadow(0 2px 10px rgba(0,0,0,0.2));
    // @media #{$till-tablet-portrait} {
    //     @include box-shadow(none);
    // }

    @include modifier("padded") {
        padding: s(3);
        @media #{$till-tablet-portrait} {
            padding: s(1.5) s();
        }
    }

}
