.apollo {
    @include row();
    margin-top: s(3);

    @include element("aside") {
        margin-top: s(4);
        padding: 0 s(2) s(2) s(2);
        @include column(
            2, 2,
            2, 2,
            1, 1
        );
    }

    @include element("page") {
        @include column(
            8, 8,
            8, 8,
            1, 1
        );
    }
}
