.apollo-menu {
    margin: s(2) 0 0 0;
    padding: 0;

    @include modifier("first") {
        margin-top: 0;
    }

    @include element("title") {
        margin-bottom: s(0.5);
        @include setFont(500, $colorMenuTitle, 16px);

        &:first-letter {
            text-transform: uppercase;
        }
    }

    @include element("link") {
        text-decoration: none;
        @include setFont(200, $colorMenuButton);

        @include transition(color 0.125s ease-out);

        &:hover {
            color: $colorMenuButtonHover;
        }

        @include modifier("current") {
            cursor: default;
            color: $colorMenuButtonSelected;
            &:hover {
                color: $colorMenuButtonSelected;
            }
        }
    }
}
