.apollo-logo-lib {

    display: block;
    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    &:hover {
        background-color: transparent !important;
    }

    @include modifier("nodejs") {
        width: 150px;
        @include backgroundImage("nodejs-logo.png");
    }

    @include modifier("bower") {
        @include backgroundImage("bower-logo.svg");
    }
}
