<%
    var firstElement = true;
    var page_url, selected;
%>
<% site.pages.data = _.sortBy(site.pages.data, 'category') %>
<% if (site.pages.length > 1) { %>
    <% site.pages.data = _.sortBy(site.pages.data, 'id') %>
    <% site.pages.each(function (page, i) { %>
        <% if (page.category !== undefined && page.category.toLowerCase() === 'a-pollo') { %>
            <% if (firstElement) { %>
                <% firstElement = false; %>
                <ul class="apollo-menu">
                    <li class="apollo-menu__title">
                        <%= page.category %>
                    </li>
            <% } %>
            <li class="apollo-menu__item">
                <% if (page.url !== undefined) {
                    page_url = page.url;
                } else {
                    page_url = page.permalink;
                }
                if (url.replace(config.url, '') === page_url.replace(config.url, '')) {
                    selected = 'apollo-menu__link--current';
                } else {
                    selected = '';
                } %>
                <a href="<%= page_url %>" class="apollo-menu__link <%= selected %>">
                    <%= page.title %>
                </a>
            </li>
        <% } %>
    <% }) %>
    </ul>
<% } %>
