<hr class="hr">
<div class="doc-item">
  <h2 class="doc-item__title">
    {% if annotation.type %}
      <span class="doc-item__type">@{{ annotation.type|lower }}</span>
    {% endif %}
    {{ annotation.name }}
  </h2>

  <div class="infos">
    {% include '../main/info.twig' with { title: 'From', value: annotation.version, default: 'Not available' } %}
    {% if annotation.author %}
    {% include '../main/info.twig' with { title: 'Author', value: annotation.author, default: 'Not specified' } %}
    {% endif %}
    {% include '../main/info-date.twig' with { date: annotation.date, selector: 'info--bottom' } %}
  </div>

  <div class="markdown">
    {{ annotation.text }}
  </div>

  {% if annotation.params %}
    {% include 'parameters.twig' %}
  {% endif %}

  {% if annotation.code %}
    {% include '../main/code.twig' with { code: annotation.code, lang: annotation.code.ext } %}
  {% endif %}

  {% if annotation.css %}
    {% include '../main/code.twig' with { code: annotation.css, lang:'css', generated: true } %}
  {% endif %}

  {% if annotation.html %}
    {% include '../main/code.twig' with { code: annotation.html, lang:'html' } %}
  {% endif %}
</div>
