/*!
Frontsize: http://frontsize.com
GitHub:    https://github.com/ideatosrl/frontsize-sass
License:   MIT Licence
Version:   3.9.53
Date:      2015-11-06 21:22
Authors:   Vittorio Vittori, Alessandro Minoccheri
*/
* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

span[title],
div[title],
b[title],
strong[title] {
  cursor: help;
}

span[title]:hover,
div[title]:hover,
b[title]:hover,
strong[title]:hover {
  text-decoration: underline;
}

a[title],
a strong[title],
a span[title],
a div[title],
a b[title] {
  cursor: pointer;
}

p,
blockquote,
dl, dt, dd,
figure,
figcaption,
div,
hr,
article,
nav,
aside,
main,
section,
header,
footer,
h1, h2, h3, h4, h5, h6
hgroup,
address {
  margin: 0;
  padding: 0;
}

ul {
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-left: 0;
}

/*@pollo

    @name: column
    @auth: Vittorio Vittori
    @date:  2015-11-10
    @text:  This is an icons set composet by an SVG sprite, the single icon is `48px` size.
    @category: Alias
    @doc: true
    @public: true | false:default
    @deprecated: 1.X.X | false:default
    @param: {array} $paramName [default] - description
    @param: {boolean} base.default [default] - description
    @param: {unit} base.default [default] - description
    @param: {int} base.default [default] - description
    @param: {number} base.default [default] - description
    @param: {string} base.default [default] - description
    @return: css | unit | etc.
    @code: Description must be inline
        // SASS or LESS or CSS by current filetype
    @css: Description must be inline
        .selector {
            width: 12px;
            height: 24px;
            background-color: #fccfc;
        }
    @html: Description must be inline
        <div class="selector">
            Hello, this is the code example
        </div>

*/
body {
  background-color: #F5F0D6;
  color: #222;
  font-family: "open sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/*@pollo
    @name:  Social button
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Buttons
    @date:  2015-12-01
    @text:  This should be used to connect social accounts to the project service.
            It requires Font Awesome http://fontawesome.github.io to be loaded as dependency.
            The code above will show the Facebook version.
    @html:  <a href="#" class="button-social button-social--facebook">
                <div class="button-social__icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="button-social__network">
                    facebook
                </div>
            </a>
*/
/*@pollo
    @name:  Twitter
    @auth:  [Vittorio Vittori](http://vit.to)
    @date:  2015-12-02
    @text:  This twitter version has also `button-social--with-effects` modifier to show drop shadow effects
    @html:  <a href="#" class="button-social button-social--twitter button-social--with-effects">
                <div class="button-social__icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="button-social__network">
                    twitter
                </div>
            </a>
*/
/*@pollo
    @name:  Github
    @auth:  [Vittorio Vittori](http://vit.to)
    @date:  2015-12-03
    @text:  The GitHub version with `button-social--small` and `button-social--with-effects` modifiers.
    @html:  <a href="#" class="button-social button-social--github button-social--with-effects button-social--small">
                <div class="button-social__icon">
                    <i class="fa fa-github-alt"></i>
                </div>
                <div class="button-social__network">
                    github
                </div>
            </a>
*/
/*@pollo
    @name:  Google Plus
    @auth:  [Vittorio Vittori](http://vit.to)
    @date:  2016-01-08
    @text:  The Google Plus version has also `button-social--small` modifier to make it smaller.
    @html:  <a href="#" class="button-social button-social--google-plus button-social--small">
                <div class="button-social__icon">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="button-social__network">
                    googe plus
                </div>
            </a>
*/
/*@pollo
    @name:  Facebook
    @auth:  [Vittorio Vittori](http://vit.to)
    @date:  2016-01-09
    @text:  This Facebook version has also `button-social--big` modifier to make it bigger.
    @html:  <a href="#" class="button-social button-social--facebook button-social--big">
                <div class="button-social__icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="button-social__network">
                    facebook
                </div>
            </a>
*/
/*@pollo
    @name:  Facebook
    @auth:  [Vittorio Vittori](http://vit.to)
    @date:  2016-01-10
    @text:  This Facebook version has also `button-social--rounded` modifier to set it with rounded corners.
    @html:  <a href="#" class="button-social button-social--facebook button-social--big button-social--rounded">
                <div class="button-social__icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="button-social__network">
                    facebook
                </div>
            </a>
*/
.button-social {
  display: inline-block;
  width: auto;
  cursor: pointer;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 5px 10px;
  color: #e0e0e0;
  background-color: #999999;
  text-decoration: none;
  -webkit-transition: color 0.125s ease-out;
  -khtml-transition: color 0.125s ease-out;
  -moz-transition: color 0.125s ease-out;
  -ms-transition: color 0.125s ease-out;
  -o-transition: color 0.125s ease-out;
  transition: color 0.125s ease-out;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.button-social .button-social__icon {
  color: white;
}

.button-social:hover {
  color: white;
}

.button-social__icon {
  display: table-cell;
  white-space: nowrap;
  width: 18px;
  text-align: center;
}

.button-social__network {
  display: table-cell;
  padding-left: 5px;
  text-transform: capitalize;
  font-size: 14px;
}

.button-social--small {
  padding: 3px 5px;
}

.button-social--small .button-social__network {
  padding-left: 3px;
  font-size: 12px;
}

.button-social--rounded {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

.button-social--big {
  padding: 10px 15px;
}

.button-social--with-effects {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-social--facebook {
  color: #c4cde0;
  background-color: #3b5998;
}

.button-social--facebook .button-social__icon {
  color: white;
}

.button-social--facebook:hover {
  color: white;
}

.button-social--twitter {
  color: #cce6fa;
  background-color: #55acee;
}

.button-social--twitter .button-social__icon {
  color: white;
}

.button-social--twitter:hover {
  color: white;
}

.button-social--github {
  color: #6d6d6d;
  background-color: #f5f5f5;
}

.button-social--github .button-social__icon {
  color: #333333;
}

.button-social--github:hover {
  color: #333333;
}

.button-social--google-plus {
  color: #f5cac6;
  background-color: #dc4e41;
}

.button-social--google-plus .button-social__icon {
  color: white;
}

.button-social--google-plus:hover {
  color: white;
}

/*@pollo
    @name:  Icon
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-11
    @text:  This is an icons set composet by an SVG sprite, the single icon is `48px` size.
    @html:  <i class="icon icon--head"></i>
*/
/*@pollo
    @name:  ID Card
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-11
    @text:  This is an ID card card with the modifier `icon--id-card`
    @html:  <i class="icon icon--id-card"></i>
*/
/*@pollo
    @name:  Download
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-11
    @text:  This is a download icon with the modifier `icon--download`
    @html:  <i class="icon icon--download"></i>
*/
/*@pollo
    @name:  Document
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-11
    @text:  This is a document icon with the modifier `icon--document`
    @html:  <i class="icon icon--document"></i>
*/
/*@pollo
    @name:  Ok
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-12
    @text:  This is an ok icon with the modifier `icon--ok`
    @html:  <i class="icon icon--ok"></i>
*/
/*@pollo
    @name:  Flag
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-01-13
    @text:  This is a flag icon with the modifier `icon--flag`
    @html:  <i class="icon icon--flag"></i>
*/
/*@pollo
    @name:  Note
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-03
    @text:  This is a note icon with the modifier `icon--note`
    @html:  <i class="icon icon--note"></i>
*/
/*@pollo
    @name:  Stats
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-03
    @text:  This is a stats icon with the modifier `icon--stats`
    @html:  <i class="icon icon--stats"></i>
*/
/*@pollo
    @name:  User
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-03
    @text:  This is a user icon with the modifier `icon--user`
    @html:  <i class="icon icon--user"></i>
*/
/*@pollo
    @name:  Credit card
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-03
    @text:  This is a credit card icon with the modifier `icon--card`
    @html:  <i class="icon icon--card"></i>
*/
/*@pollo
    @name:  Lockpick
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-05
    @text:  This is a lockpick icon with the modifier `icon--lockpick`
    @html:  <i class="icon icon--lockpick"></i>
*/
/*@pollo
    @name:  Mobile phone
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-05
    @text:  This is a mobile phone icon with the modifier `icon--mobile`
    @html:  <i class="icon icon--mobile"></i>
*/
/*@pollo
    @name:  Pencil
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-05
    @text:  This is a pencil icon with the modifier `icon--pencil`
    @html:  <i class="icon icon--pencil"></i>
*/
/*@pollo
    @name:  Eye
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-05
    @text:  This is an eye icon with the modifier `icon--eye`
    @html:  <i class="icon icon--eye"></i>
*/
/*@pollo
    @name:  Gear
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-08
    @text:  This is a gear icon, useful for options menu with the modifier `icon--gear`
    @html:  <i class="icon icon--gear"></i>
*/
/*@pollo
    @name:  Recycle bin
    @auth:  [Vittorio Vittori](http://vit.to)
    @category:  Icons
    @date:  2016-02-09
    @text:  This is a recycle bin icon, useful for options menu with the modifier `icon--bin`
    @html:  <i class="icon icon--bin"></i>
*/
.icon {
  display: inline-block;
  background-image: url("http://vitto.github.io/css/theme/assets/icons-sprite.svg");
  background-repeat: no-repeat;
  background-size: 192px 192px;
  width: 48px;
  height: 48px;
}

.icon--head {
  background-position: 0 0;
}

.icon--id-card {
  background-position: -48px 0;
}

.icon--download {
  background-position: -96px 0;
}

.icon--document {
  background-position: -144px 0;
}

.icon--ok {
  background-position: 0 -48px;
}

.icon--flag {
  background-position: -48px -48px;
}

.icon--note {
  background-position: -96px -48px;
}

.icon--stats {
  background-position: -144px -48px;
}

.icon--user {
  background-position: 0 -96px;
}

.icon--card {
  background-position: -48px -96px;
}

.icon--lockpick {
  background-position: -96px -96px;
}

.icon--mobile {
  background-position: -144px -96px;
}

.icon--pencil {
  background-position: 0 -144px;
}

.icon--eye {
  background-position: -48px -144px;
}

.icon--gear {
  background-position: -96px -144px;
}

.icon--bin {
  background-position: -144px -144px;
}

@font-face {
  font-family: "open sans";
  font-weight: 700;
  src: url("http://vitto.github.io/css/theme/assets/opensans-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: url("http://vitto.github.io/css/theme/assets/opensans-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "open sans";
  font-weight: 200;
  src: url("http://vitto.github.io/css/theme/assets/opensans-light-webfont.ttf") format("truetype");
}

/*# sourceMappingURL=frontsize-theme.min.css.map */
