<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <aside class="menu">
            <%- partial('_partial/head') %>
        </aside>
        <main class="page">
            <%- body %>
        </main>
    </body>
</html>
